/* You can add global styles to this file, and also import other style files */

body,
html {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: #a1a2a3;
    text-transform: uppercase;
}

tspan {
    padding-bottom: 5px;
}

.bottom-border {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.previous {
    position: absolute;
    top: 70px;
    left: 15px;
}

.next {
    position: absolute;
    top: 70px;
    right: 15px;
}