<div class="container">
    <h2>Well Streaming</h2>
</div>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="chart-wrapper">
            <chart [options]="options"></chart>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="score" [ngClass]="score">Test Data</div>
    </div>
    <div class="col">
        <chart [options]="bar1"></chart>
    </div>
    <div class="col">
        <chart [options]="bar2"></chart>
    </div>
</div>

<br/>
<button (click)="addData()">Test</button>