<button (click)="addData()">Test</button>
<div class="">
    <h2>Well Streaming</h2>
    <div class="row">
        <div class="col">
            <app-rate-gauge></app-rate-gauge>
        </div>
        <div class="col">
            <app-gauge></app-gauge>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ (dashboard | async)?.Well?.Name }}
        </div>
        <div class="col-md-2">
            <div class="score" [ngClass]="score">Test Data</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <app-spider-chart></app-spider-chart>
        </div>
    </div>
</div>