.score {
    padding: 5px;
    background: white;
    border: 1px solid blue;
}

.red {
    background: red;
}

.blue {
    background: blue;
}

.aqua {
    background: aqua;
}

.purple {
    background: purple;
}

.orange {
    background: orange;
}

.aquamarine {
    background: aquamarine;
}

.chart-wrapper {
    max-height: 250px;
}